
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(254, 239, 227);
    font-weight: bold;
    font-size: 15px;
    font-family: "Merriweather", serif;
    font-style: normal;
    color:  rgb(145, 67, 3);
}

a{
    text-decoration: none;
}

.header{
    display: flex;  /* html öğelerini hizalar.*/
    justify-content: space-between;  /* html öğelerini satıra eşit boşluklar bırakarak yayar.*/
    align-items: center;
    border: 3px solid rgb(255, 132, 0);
    background-color: rgb(255, 184, 122);
    border-radius: 10px; /* çerçevenin kenarını yumuşatmak için kullanılır */
    padding: 10px 20px; /*  bir elementin iç kenarlara olan uzaklığını belriler. önce düşey, sonra yatay yazılır*/
    margin-bottom: 30px; /* margin bir elementin dış nesnelere olan uzaklığını belriler.*/
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .about {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 60%;
    margin: 20px;
}
.content .about .photo {
    padding: 20px;
    margin: 10px;

}

.content .about .photo img {
    width: 500px;
    height: 500px;
    border: 3px solid rgb(255, 132, 0);
    border-radius: 100px;
    box-shadow: 15px 15px 15px gray;
}

.content .about .description {
    font-size: 20px;
    margin: 10px;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    border-top: 4px dashed rgb(255, 132, 0);
    padding-top: 30px;
    margin: 30px;
    font-size: 20px;

}
.section {
    width: 60%;
}

.section .cards{
    display: flex;
    border: 4px solid rgb(255, 132, 0);
    border-radius: 20px;
    background-color: rgb(255, 184, 122);
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
    box-shadow: 10px 10px 15px gray;

}

.content .section .cards .left {
   
    flex: 2;
}

.content .section .cards .left {
   
    flex: 3;
}

